* {
  font-family: sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Stack children vertically */
  height: 100vh; /* Full height of the viewport */
}

.np-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
}

.left-side-wrapper {
  display: flex;
  align-items: center;
}

.left-side-wrapper > * {
  margin-left: 5px;
}

.navbar-btn {
  padding: 7px;
}

.bi {
  width: 20px;
  height: 20px;
}

.content {
  display: flex;
  flex: 1; /* Take all remaining space */
  background-color: #65717e;
  padding: 10px;
}

#pixi {
  flex-grow: 1;
  overflow: auto;
}